/*  ==================================================================
	LOGIN SEITE CSS 
	==================================================================  */

body.login {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #ffffff 0%, #eeeeee 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #ffffff 0%,#eeeeee 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #ffffff 0%,#eeeeee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */;
}

.login h1 a { 
	background-image: url('../img/logo1_black.svg');
	background-size: 300px 80px;
	width: 320px;
	height: 100px;
}

.login form {
	background: rgba(255,255,255,0.3);
	border-top:5px solid #000000; 
	margin-top: 50px;
}

.login #backtoblog a, 
.login #nav a, 
.login label {color:#03111A;}

.login #backtoblog a:hover, 
.login #nav a:hover {color:#000000;}

.login form .input, 
.login form input[type=checkbox], 
.login input[type=text] {
	background: rgba(255,255,255,0.3);
}

.login .button-primary {
	background: #000000;
    border:none;
    color: #fff;
    text-decoration: none;
    text-shadow:none;
    border-radius:0;
}
.login .button-primary:hover {
	background: #03111A;
    border-color: #03111A;
    color: #fff;
}

.login .message {
	background: #000000;
	color:#fff;
	border:none;
}